/* Add screen styles below */
a.active {
    font-weight: bold;
}

body{
    color: aliceblue;
    background-color: rgb(8, 8, 17);
    width: 50%;
    justify-self: center;
    margin-top: 100px;
}

nav{
    justify-self: center;
}