/* Add screen styles below */
a.active {
    font-weight: bold;
}

html{
    color: aliceblue;
}

body{
    background-color: rgb(8, 8, 17);
    width: 50%;
    justify-self: center;
    margin-top: 100px;
    background-image: url(images/SpaceCartoon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 3em;
}

p{
    font-size: 1.3em;
}

nav{
    justify-self: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
 .moon{
    height: 150px;
    width: 150px;
    align-self: center;
 }

 a{
    align-self: center;
 }

 .earth{
    height: 300px;
    width: 300px;
 }